/*下一步*/
body{
    margin: 0;
    padding: 0;
}
.login{
    width: 100%;
    background: white;
}
.login_title{
    color:#190A75;
}
.login_title h3{
    margin-left: 15px;
    font-weight: bold;
}
/*姓名*/
.login_contant_name {
    width: 100%;
    border-bottom: 1px solid #aaa;
}
.login_contant_name p{
    display: inline-block;
    margin-left: 15px;
}
.login_contant_name p:nth-child(1){
    color: #222;
}
.login_contant_name p:nth-child(2){
    color: red;
    margin-left: 30px;
}
.login_contant_name input{
    color: #aaaaaa;
    border: none;
    font-size: 16px;

}
/*手机号*/
.login_contant_phone {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #aaa;
}
.login_contant_phone p{
    display: inline-block;
    margin-left: 15px;
}
.login_contant_phone p:nth-child(1){
    color: #222;
}
.login_contant_phone p:nth-child(2){
    color: red;
}
.login_contant_phone input{
    color: #aaaaaa;
    border: none;
    font-size: 16px;

}
/*验证码*/
.login_contant_code {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #aaa;
}
.login_contant_code p{
    display: inline-block;
    margin-left: 15px;
}
.login_contant_code p:nth-child(1){
    color: #222;
}
.login_contant_code p:nth-child(2){
    color: red;
}
.login_contant_code input{
    color: #aaaaaa;
    border: none;
    font-size: 16px;
}
.login_contant_code  button{
    width: 80px;
    height: 30px;
    background: #190A75;
    text-align: center;
    line-height: 30px;
    color: white;
    border: none;
    margin-top: 15px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    border-radius: 5px 5px;
}
/*信息完善*/
.loginTwo_contant_from {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #aaa;
}
.loginTwo_contant_from p{
    display: inline-block;
    margin-left: 15px;
}
.loginTwo_contant_from p:nth-child(1){
    color: #222;
}
.loginTwo_contant_from p:nth-child(2){
    color: red;
}
.loginTwo_contant_from input{
    color: #aaaaaa;
    border: none;
    font-size: 16px;

}
.loginTwo_contant_from p:nth-child(2){
    margin-left: 30px;
}
/*信息完善结束*/
/*下一步*/
.login_bottom{
    width: 100%;
}
.login_bottom a{
    text-decoration: none;
}
.login_bottom button{
    display: block;
    margin: 0 auto;
    border: none;
    background: #190A75;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color:white;
    text-align:center;
    line-height: 50px;
    margin-top: 100px;
    border-radius: 10px 10px;
}
.login_bottom_1{
    width: 100%;
}
.login_bottom_1 a{
    text-decoration: none;
}
.login_bottom_1 button{
    display: block;
    margin: 0 auto;
    border: none;
    background: #190A75;
    width: 300px;
    height: 50px;
    font-size: 18px;
    color:white;
    text-align:center;
    line-height: 50px;
    margin-top: 100px;
    border-radius: 10px 10px;
}
.login_Show_button{
    display: block;
    margin: 0 auto;
    border: none;
    background: #190A75;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color:white;
    text-align:center;
    line-height: 50px;
    margin-top: 100px;
    border-radius: 20px 20px;
}
/*登记成功*/
.login_Show{
    margin-top: -80px;
}
.login_Show_top span{
    display: inline-block;
    margin-left: 35px;
}
.login_Show_top span:nth-child(1){
    color: red;
}
.login_Show_top span:nth-child(3){
    color:#aaa;
}
.login_Show_contant ul{
    width: 100%;
    padding: 0;
}
.login_Show_contant ul li{
    list-style: none;
    margin-top: 50px;
}
.login_Show_contant ul li p{
    width: 90%;
    margin: 0 auto;
}
.login_Show_contant ul li a{
    width: 90%;
    display: block;
    margin: 0 auto;
}
/*登记成功结束*/
/*页面跳转*/
 .login_Tab{
     margin-bottom: 0;
     width: 100%;
 }
.login_Tab ul{
    width: 100%;
    height: 90px;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 3px solid #190A74;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login_Tab ul li{
    float: left;
    list-style: none;

}
.login_Tab ul li span{
    display: block;
    margin-top: 10px;
}
.login_Tab ul li span:nth-child(1){
    width: 30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius: 60%;
    margin: 0 auto;
    background: #aaa;
}
.login_Tab ul li span:nth-child(2){
    font-size: 18px;
    color: #222222;
}
/*颜色改变*/
.login_Tab_color{
    background: #190A75!important;
    color: white;
}